@{
    ViewData["Title"] = "Forgot password confirmation";
}


<head>

    <style>

        h2 {
            text-shadow: 7px 7px 7px #dad6d6;
            color: #707272
        }

        .background {
            background-image: url(../Images/BACKGROUND.jpg);
            background-repeat: inherit;
            background-size: 100%;
            padding-top: 50px;
            padding-bottom: 20px;
        }


        .style-three {
            width: 80%;
            margin: 0 auto;
            border: 0;
            height: 1px;
            background: #333;
            background-image: linear-gradient(to right, #ccc, #333, #ccc);
        }
    </style>


</head>

<h2><b><span><img src="~/images/edit.png" height="30" width="30">&nbsp;@ViewData["Title"]</span></b></h2>
<hr class="style-three" />
<hr />
<body class="background">
    <p>
        Please check your email to reset your password.
    </p>
</body>
