@{
    ViewData["Title"] = "Home Page";
}


<head>
    <style>
        h2 {
            text-shadow: 7px 7px 7px #dad6d6;
            color: #56595d;
            font-family: 'Harlow Solid';
        }
        .background {
            background-image: url(../Images/BACKGROUND.jpg);
            background-repeat: inherit;
            background-size: 100%;
            padding-top: 50px;
            padding-bottom: 20px;
        }
    </style>
</head>



<div>
    <h2><b>Quality is Commitment</b><span>&nbsp;&nbsp;&nbsp;&nbsp;<img src="~/images/homeicon.png" height="40" width="150"></span></h2>
    <h4 style="font-family:'Harlow Solid'">-university stationery store</h4>
</div>

<body class="background">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="1000">

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/homepage1.png" />
                <div class="carousel-caption" role="option">
                </div>
            </div>           
        </div>

    </div>

</body>


