
@{
    ViewData["Title"] = "dutyoff";
}
<h2>Opps!</h2>
<h4>You have already delegate your duty to one of your staff.</h4>
<h4>If you still want to deal with the issue in emergency,please try to edit your delegation.</h4>
<head></head>
<body></body>